In [1]:
import pandas as pd
import numpy as np

In [2]:
def prepare(instrument):
    instrument = instrument[instrument['Close'].notna()]
    #instrument.sort_values(by=['Date'],ascending = True,inplace=True)
    instrument['Daily Return Percent'] = instrument['Close'].pct_change(1)
    instrument['Log Return'] = np.log(instrument.Close) - np.log(instrument.Close.shift(1))
    instrument = instrument.dropna()
    return instrument

In [3]:
def confidence(stock,cmp,days,level,currency):
    average_return = days*stock['Log Return'].mean() 
    std_return = np.sqrt(days) *stock['Log Return'].std()
    upper = cmp * np.exp(average_return+(level*std_return))
    lower = cmp * np.exp(average_return-(level*std_return))
    r = 0
    if currency:
        r = 2
    upper =  round(upper,r)
    lower =  round(lower,r)
    return (upper, lower)

In [4]:
def work(stock,currency):
    if currency == True:
        cmp = float(input('current currency price'))
    else:
        cmp = int(input('current stock price'))
    days = int(input('trading days'))
    levels = (int)(input('confidence levels'))
    stock = prepare(stock)
    confidence_levels = {}
    for i in range(1,levels+1):
        confidence_levels[i] = confidence(stock,cmp,days,i,currency)
    return confidence_levels

In [16]:
stock = pd.read_csv('nifty Jan 18th.csv')

In [17]:
print(work(stock,False))

current stock price14281
trading days3
confidence levels3
{1: (14816.0, 13821.0), 2: (15339.0, 13349.0), 3: (15882.0, 12893.0)}

In [163]:
st = pd.read_csv('rbi_rate_20-01-2020_14-01-2021.csv')
st['Date'] = pd.to_datetime(st['Date'], format='%d-%b-%Y')
st.sort_values(by=['Date'],ascending = True,inplace=True)

st.head()

          Date    Close
236 2020-01-20  71.0570
235 2020-01-21  71.1825
234 2020-01-22  71.2056
233 2020-01-23  71.2437
232 2020-01-24  71.2404

In [164]:
stock.tail()

            Date     Close
243  07-Jan-2021  14137.35
244  08-Jan-2021  14347.25
245  11-Jan-2021  14484.75
246  12-Jan-2021  14563.45
247  13-Jan-2021  14564.85

In [165]:
st.head()

          Date    Close
236 2020-01-20  71.0570
235 2020-01-21  71.1825
234 2020-01-22  71.2056
233 2020-01-23  71.2437
232 2020-01-24  71.2404

In [168]:
print(work(st,True))

current currency price73.15
trading days5
confidence levels3
{1: (73.76, 72.65), 2: (74.32, 72.1), 3: (74.89, 71.55)}

In [171]:
#16-01-2020-TO-14-01-2021RELIANCEALLN

In [18]:
stock = pd.read_csv('16-01-2020-TO-14-01-2021RELIANCEALLN.csv')

In [19]:
print(work(stock,False))

current stock price1990
trading days8
confidence levels3
{1: (2180.0, 1845.0), 2: (2370.0, 1697.0), 3: (2577.0, 1561.0)}

In [20]:
#16-01-2020-TO-14-01-2021BIOCONALLN

In [21]:
stock = pd.read_csv('20-01-2020-TO-15-01-2021BIOCONALLN.csv')

In [22]:
print(work(stock,False))

current stock price449
trading days8
confidence levels3
{1: (488.0, 425.0), 2: (523.0, 397.0), 3: (561.0, 370.0)}

In [ ]:
#20-01-2020-TO-18-01-2021TATAMOTORSALLN

In [10]:
stock = pd.read_csv('20-01-2020-TO-18-01-2021TATAMOTORSALLN.csv')

In [11]:
print(work(stock,False))

current stock price248
trading days8
confidence levels3
{1: (280.0, 224.0), 2: (312.0, 201.0), 3: (349.0, 180.0)}